<%= link_to 'Main', admin_admin_main_path %>

<p id="notice"><%= notice %></p>

<h1>Editing Instructions</h1>
Game ID: <%= @game.id %> / Game Title: <%= @game.title %>

<%= form_tag(admin_game_instructions_path, method: :post) do %>
  <table class="admin">
  <tr><th>STEP</th><th>Instruction</th></tr>
  <% (0...10).each do |stp| %>
    <tr>
      <td><%= stp + 1 %></td>
      <% if stp < @instructions.size %>
        <td><%= text_field_tag('explanations[]', @instructions[stp].explanation, size: 100) %></td>
      <% else %>
        <td><%= text_field_tag('explanations[]', '', size: 100) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <%= submit_tag "追加" %>
<% end %>
<br />
<%= link_to 'Game Show', [:admin, @game] %> |
<%= link_to 'Game Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>
