<%= link_to 'Main', admin_admin_main_path %>

<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="admin">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.title %></td>
        <td><%= link_to 'Show', [:admin, game] %></td>
        <td><%= link_to 'Edit', edit_admin_game_path(game) %></td>
        <td><%= link_to 'Destroy', [:admin, game], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_admin_game_path %>
