<%= form_with(model: game_link, local: true) do |form| %>
  <% if game_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_link.errors.count, "error") %> prohibited this game_link from being saved:</h2>

      <ul>
      <% game_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :game_link_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :game_link_description %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :game_link_url %>
  </div>

  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img, id: :game_link_img %>
  </div>

  <div class="field">
    <%= form.label :category1 %>
    <%= form.number_field :category1, id: :game_link_category1 %>
  </div>

  <div class="field">
    <%= form.label :category2 %>
    <%= form.number_field :category2, id: :game_link_category2 %>
  </div>

  <div class="field">
    <%= form.label :category3 %>
    <%= form.number_field :category3, id: :game_link_category3 %>
  </div>

  <div class="field">
    <%= form.label :access %>
    <%= form.number_field :access, id: :game_link_access %>
  </div>

  <div class="field">
    <%= form.label :star %>
    <%= form.number_field :star, id: :game_link_star %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
