<p id="notice"><%= notice %></p>

<h1>Game Links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Url</th>
      <th>Img</th>
      <th>Category1</th>
      <th>Category2</th>
      <th>Category3</th>
      <th>Access</th>
      <th>Star</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_links.each do |game_link| %>
      <tr>
        <td><%= game_link.title %></td>
        <td><%= game_link.description %></td>
        <td><%= game_link.url %></td>
        <td><%= game_link.img %></td>
        <td><%= game_link.category1 %></td>
        <td><%= game_link.category2 %></td>
        <td><%= game_link.category3 %></td>
        <td><%= game_link.access %></td>
        <td><%= game_link.star %></td>
        <td><%= link_to 'Show', game_link %></td>
        <td><%= link_to 'Edit', edit_game_link_path(game_link) %></td>
        <td><%= link_to 'Destroy', game_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Link', new_game_link_path %>
