<section id="admin">
  <%= link_to 'Main', admin_admin_main_path %>
  <hr>

  <% if @logined %>
    <h3>You are now logged in the game link admin system</h3>
    Your profile
    <table>
      <tr><th>user id</th><td><%= @user.id %></td></tr>
      <tr><th>name</th><td><%= @user.name %></td></tr>
      <tr><th>full name</th><td><%= @user.full_name %></td></tr>
      <tr>
        <th>photo</th>
        <td><%= image_tag @user.picture, alt: 'picture', width: '80px', height: '80px' %></td>
      </tr>
      <tr><th>email</th><td><%= @user.email %></td></tr>
      <tr><th>identifer</th><td><%= @user.identifer %></td></tr>
      <tr><th>provider</th><td><%= @user.provider %></td></tr>
    </table>
  <% else %>
    <p>
    <h3>Failed to logged in to the system</h3>
    <br>
    Bye!
    </p>
  <% end %>
</section>
