<h1>game.link admin menu</h1>
<hr>

<% if @logined %>
  <h3 id="admin_user">Hello <%= @user.name %> san !!</h3>
  操作を選択してね
  <ul>
    <li><%= link_to 'Manage Games', admin_games_path %></li>
    <li><%= link_to 'Manage Advertises', admin_advertises_path %></li>
    <li><%= link_to 'Manage Users', admin_users_path %></li>
    <li><%= link_to 'Your Profile', admin_admin_login_path %></li>
    <li><%= link_to 'Logout', admin_admin_logout_path %></li>
  </ul>
<% else %>
  <p>ログインしてください</p>
  <%= link_to 'ログインする', admin_admin_login_path %>
<% end %>
