<!DOCTYPE html>
<html>
  <head>
    <% unless yield(:google_analystics).empty? %>
      <%= yield :google_analystics %>
    <% end %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>フリーゲームリンク|FREE GAME LINK|無料で楽しいオンラインゲーム集</title>
    <meta name="description" content="FREE GAME LINK 無料であそべるフリーゲーム集">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% unless yield(:material_icons).empty? %>
      <%= yield :material_icons %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
